{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "esmodules": true,
          "browsers": "last 2 versions"
        },
        "loose": true
      }
    ]
  ],
  "comments": true,
  "plugins": ["@babel/transform-react-jsx"]
}
