@import '../../variables';

.header {
  height: $header;
  background: black;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  box-shadow: inset 0 -1px rgba(white, 0.2);
  z-index: 99;

  &-container {
    width: 100%;
    max-width: $maxWidth;
    display: flex;
  }

  &-logo {
    background-image: url(logo.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 120px;
    height: 100%;
    margin: 0 16px;
  }

  &-section {
    margin-left: 24px;
    display: flex;
    align-items: center;

    @include for-phone-only {
      display: none;
    }
  }
}
