@import '../../variables';

.movie {
  display: flex;
  flex-direction: column;
  min-height: calc(100% - #{$header});
  &.main-section {
    background: $lightMain;
    color: $black;
  }
  .detail-section,
  .detail-stream,
  .info-section {
    padding: 24px;

    @include for-phone-only {
      padding: 8px 24px;
    }

    .section-title {
      margin: 0;
    }
  }

  .detail {
    &-value {
      text-align: justify;
    }
  }

  .info {
    &-section {
      display: flex;

      @include for-phone-only {
        flex-direction: column;
      }
    }
    &-group {
      width: 100%;

      @include for-phone-only {
        display: flex;
        margin-bottom: 8px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &-value {
      font-weight: bold;

      @include for-phone-only {
        padding-left: 4px;
      }
    }
  }

  .detail-stream {
    display: flex;

    @include for-phone-only {
      flex-direction: column;
    }

    .detail-column {
      width: 100%;
    }
  }

  .actors {
    &-section {
      display: flex;
      flex-wrap: wrap;
      margin: 16px 0;
    }
    &-profile {
      padding: 0 8px;
      width: 120px;
      text-align: center;

      @include for-phone-only {
        flex: 1;
      }
    }
    &-photo {
      width: 100px;
      height: 140px;
      background-position: center;
      border-radius: 3px;
      background-size: cover;
      background-color: $greyText;
      margin: 0 auto;
    }
    &-name {
      font-size: 14px;
      font-weight: 700;
      color: $greyText;
      padding: 6px 0;
    }
  }
}
