@import '../../variables';

.not-found {
  max-width: $maxWidth;
  margin: 0 auto;
  padding: 64px 16px;

  @include for-phone-only {
    padding: 16px;
  }

  p {
    max-width: 70%;
    text-align: justify;

    @include for-phone-only {
      max-width: 100%;
    }
  }
}
